# DATABASE URL
DATABASE_URL=

# JWT SECRET
JWT_SECRET=

# CODE API VERSION
API_VERSION=

# EMAIL SERVICES VARIABLES
# EMAIL_HOST=mail.campus-camer.com
# EMAIL_PORT=465
# EMAIL_USER=noreply@campus-camer.com
# EMAIL_USER_PASSWORD='79Vd`XQWYL'
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_USER_PASSWORD=

